@font-family: 'Press Start 2P', cursive;

@red: red;
@orange: orange;
@yellow: yellow;
@green: limegreen;
@blue: #0a72ff;
@purple: #ba00ff;

body {
    margin: 0;
    padding: 0;
    min-width: 1300px;

    background-color: black;

    font-family: 'Press Start 2P';

    display: flex;
    justify-content: center;
    align-items: center;

    #game {
        flex-grow: 0;
    }
    #left-sidebar, #right-sidebar {
        flex-basis: 25%;
    }

    &.playing {
        circle {
            cursor: pointer;
        }
    }
}

#left-sidebar {
    color: white;
    padding: 30px;

    #summary, #level-info {
        overflow: hidden;
    }
    #level-info {
        max-height: 0;
    }
    #summary {
        max-height: 150;
    }

    #level {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;

        padding: 12px 0;
        margin: 22px 0;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }

    .description {
        line-height: 24px;
        letter-spacing: 1px;
        hyphens: auto;
        font-size: 13px;

        li {
            margin-left: -18px;
            margin-bottom: 8px;
        }
    }

    .header {
        font-size: 18px;
        margin: 30px 0;
    }

    .btn {
        display: block;
        margin-top: 20px;

        cursor: pointer;

        &:first-of-type {
            padding-top: 30px;
            border-top: 2px solid white;
        }
        &:hover {
            text-shadow: 2px 2px magenta;
        }
    }
}

#title {
    margin: 0 auto;
    width: 310px;

    line-height: 60px;
    white-space: nowrap;

    margin-bottom: 25px;

    font-size: 44px;
    color: white;

    .text {
        padding: 0;
        margin-right: -42px;
    }
}

#flag {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 230px;

    .stripe {
        position: relative;
        height: 32px;
        line-height: 34px;
        width: 100%;

        font-size: 14px;

        margin-bottom: 7px;
        transition: margin-bottom .4s;
        &.connected {
            margin-bottom: 0;
        }

        .score {
            color: white;
            text-shadow: 2px 2px 0 black;
        }
        .multiplier {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:first-of-type {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        &:last-of-type {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    &::after {
        content: attr(data-total-score);
        color: white;
        font-size: 14px;
        line-height: 40px;
    }
}

.color-class(@color) {
    fill: fade(@color, 25%);
    stroke: @color;
    color: @color;
    background-color: @color;

    &.outline {
        background-color: fade(@color, 25%);
        box-shadow: inset 0 0 0 2px @color;
    }
    &.connecting, &.connected {
        fill: @color;
    }
    &.text {
        background-color: transparent;
    }
    .multiplier {
        color: darken(@color, 20%);
    }
}
.red {
    .color-class(@red);
}
.orange {
    .color-class(@orange);
}
.yellow {
    .color-class(@yellow);
}
.green {
    .color-class(@green);
}
.blue {
    .color-class(@blue);
}
.purple {
    .color-class(@purple);
}

#game-wrapper {
    border-radius: 16px;
    border: 4px solid white;
}

#game {
    width: 800px;
    height: 600px;

    circle {
        stroke-width: 3px;
    }

    line {
        stroke-width: 7;
        stroke-linecap: round;
        pointer-events: none;

        &.dragging {
            stroke-width: 5;

            &.connecting {
                stroke-width: 10;
            }
        }
        &.illegal {
            stroke-linecap: unset;
            stroke-dasharray: 8 10;
        }
    }
}

#footer {
    width: 100%;
    margin-top: 25px;
    min-height: 100px;

    text-align: center;

    #start-btn {
        display: inline-block;
        margin-top: 30px;
        color: white;
        cursor: pointer;

        animation: pulse .75s linear infinite alternate-reverse;
        &:hover {
            animation: none;
            font-size: 38px;
            letter-spacing: 5px;
            text-shadow: 3px 2px @green;
        }
    }
}
.text-success {
    color: white;
    animation: pop 1.25s;
    animation-fill-mode: forwards;
}
.text-failure {
    color: @red;
    font-size: 38px;
    animation: sink 2s;
    animation-fill-mode: forwards;
}

@keyframes pop {
    0% {
        opacity: 0;
        font-size: 16px;
    }
    20% {
        font-size: 44px;
    }
    40% {
        opacity: 1;
        font-size: 38px;
    }
    65% {
        opacity: 1;
        font-size: 38px;
    }
    100% {
        opacity: 0;
        font-size: 32px;
    }
}

@keyframes sink {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(120%);
    }
}

@keyframes pulse {
    0% {
        opacity: .3;
        font-size: 37px;
        letter-spacing: 3px;
    }
    100% {
        opacity: 1;
        font-size: 38px;
        letter-spacing: 5px;
    }
}
