@font-family: 'Press Start 2P', cursive;

@red: red;
@orange: orange;
@yellow: yellow;
@green: limegreen;
@blue: #0a72ff;
@purple: #ba00ff;

@gameShadow: 0 0 6px 3px white;

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#title {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);

    line-height: 60px;
    white-space: nowrap;

    font-family: 'Press Start 2P';
    font-size: 42px;
    color: white;

    .text {
        padding: 0;
        margin-right: -42px;
    }
}

#flag {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);

    border-radius: 3px;
    overflow: hidden;

    .stripe {
        height: 30px;
        width: 230px;

        .score {
            font-family: 'Press Start 2P';
            font-size: 14px;
            text-align: center;
            line-height: 30px;

            color: white;
            text-shadow: 2px 2px 0 black;
        }
    }
}

.color-class(@color) {
    fill: fade(@color, 25%);
    stroke: @color;
    color: @color;
    background-color: @color;

    &.outline {
        background-color: fade(@color, 25%);
        box-shadow: inset 0 0 0 2px @color;
    }
    &.connecting, &.connected {
        fill: @color;
    }
    &.text {
        background-color: transparent;
    }
}
.red {
    .color-class(@red);
}
.orange {
    .color-class(@orange);
}
.yellow {
    .color-class(@yellow);
}
.green {
    .color-class(@green);
}
.blue {
    .color-class(@blue);
}
.purple {
    .color-class(@purple);
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: 600px;

    border-radius: 16px;
    border: 4px solid white;

    circle {
        cursor: pointer;
        stroke-width: 3px;
    }

    line {
        stroke-width: 7;
        stroke-linecap: round;
        pointer-events: none;

        &.dragging {
            stroke-width: 5;

            &.connecting {
                stroke-width: 10;
            }
        }
        &.illegal {
            stroke-linecap: unset;
            stroke-dasharray: 8 10;
        }
    }
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}